body{
    background-color:#fffead;
    font-family:"Calibri",Times,serif;
    margin:0;
    border: white;
}


#container  {
    width:100%;
    height: 100%;
    margin-left:0%;
    margin-right:0%;
    background-color:white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    
}
#topo-site{
    width:100%;
    height:190px;
    float:left;
    background-color:#fffead;
}
#logo{
    width:auto;
    height: 20px;
    float:left;
    margin-left:30px;
    margin-top:10px;
   
}
#rede-sociais{
    width:116px;
    height:50px;
    float:right;
    margin-right:40px;
    margin-top:70px;
}
.menu_simple{
    width:100%;
    height: 60px;
    float:left;
    margin-top:40px;
 
    background-color:rgb(109, 53, 53);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu_simple ul{
   
    margin:10px;
    padding:1px;
    
    float:left;
    
}
.menu_simple ul li{
    display:inline;
    border: 5px;
}
.menu_simple ul li a{
    float:left;
    text-decoration:none;
    color:white;
    padding:1px;
    margin-left:60px;
    background-color: rgb(109, 53, 53);
}
.menu_simple ul li a:visited{
    color:white;
}
.menu_simple ul li a:hover{
    color:white;
    background-color:rgb(109, 53, 53);
}
#slide{
    margin-top: 30px;
    width: 100%;
    height: 370px;
    float: left;
    background-color: rgb(116, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured{
    width: 700px;
    height: auto;
    margin: 0 auto;
}
#featured img{
    width: 700px;
    height: auto
    
 
}

.caixa-conteudo{
    width: 100%;
    height:75%;
    float: none;
    margin-left:17px;
    padding-left:17px;
    margin: top 23px;
  
      
}
.caixa-conteudo h3{
    color:white;
    margin-left:50px
}
.caixa-conteudo ul{
    list-style:none;
    float:left;
    color:white;
    margin-top:-10px;
    margin-left:10px;
}
.caixa-conteudo ul li{
    display: block;
    width: auto;
    font-size: medium;
}
.caixa-conteudo li a{
    text-decoration:none;
    margin-right:10px;
    color:white;
}
#rodape-site{
    width:100%;
    height:30%px;
    float:left;
    background-color:rgb(109, 53, 53);
    margin-top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#autor-site{
    width:100%;
    height:45px;
    background-color:#fffead;
    float:left;
    text-align:center;
    padding-top:10px;
    color:rgb(92, 89, 89);
}
#sobre{
    width:960px;
    height:400px;
    background-color:white;
    float:left;
}
#foto-sobre{
    width:400px;
    height:350px;
    float:left;
    margin-left:60px;
    margin-top:25px;
}
#texto-sobre{
    width:400px;
    height:370px;
    float:left;
    margin-left:40px;
    margin-top:25px;
}
@media (min-height: 815px) and (max-height: 2000px ){
    #slide{
        height:440px ;}
    #featured img{
            width: 840px;
            height: 420px;
        }
    #featured{
            width:840px;
            height:420px;
            justify-content: center;}
}
@media (min-width:0) and (max-width: 700px ) { 
    #container{
        height: 100%;

    } 
    #rodape-site{ 
        height: 50%;
        font-size: auto ;

    }
    #featured img{
        width: 400px;
        height: 200px;
    }
    #featured{
        width:400px;
        height:200px;
        justify-content: center;
    }
    #slide{
        height:210px ;
    }
    .menu_simple{
        display: flex;
        justify-content: space-around;
        
    }
    .menu_simple ul{
        margin:1px;
        padding:0px;
        
        float:left;
        
    }
    .menu_simple ul li{
        display:inline;
        border: 0px;
    }
    .menu_simple ul li a{
        margin-left:10px;
    }
    .caixa-conteudo{
        margin-left:3px;
        padding-left:0px;
    }
}
@media (min-width: 1000px) and (max-width: 2000px ){
    .menu_simple ul li a{
        margin-left:100px;
        margin-right: 0px;
    }
    .menu_simple ul{
        margin:10px;
        padding:1px;
        
        float:left;
        
    }
    .menu_simple ul li{
        display:inline;
        border: 5px;
    }
    
    
}
